<%= form_for(@store) do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% @store.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :street_address %><br />
    <%= f.text_field :street_address %>
  </div>
  <div class="field">
    <%= f.label :num_employees %><br />
    <%= f.number_field :num_employees %>
  </div>
  <div class="field">
    <%= f.label :manager %><br />
    <%= f.select :manager, Manager.all.select {|m| [m.last_name,m.id]}%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
