<div id="header">
<h1>My Store Management System</h1>
</div>
<h1>Listing stores</h1>

<table>
  <tr>
    <th>Street address</th>
    <th>Num employees</th>
    <th>Manager</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stores.each do |store| %>
  <tr>
    <td><%= store.street_address %></td>
    <td><%= store.num_employees %></td>
    <td><%= store.manager %></td>
    <td><%= link_to 'Show', store %></td>
    <td><%= link_to 'Edit', edit_store_path(store) %></td>
    <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Store', new_store_path %>
