<p id="notice"><%= notice %></p>

<p>
  <b>Street address:</b>
  <%= @store.street_address %>
</p>

<p>
  <b>Num employees:</b>
  <%= @store.num_employees %>
</p>

<p>
  <b>Manager:</b>
  <%= @store.manager %>
</p>


<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
