<p id="notice"><%= notice %></p>

<p>
  <b>Last name:</b>
  <%= @manager.last_name %>
</p>

<p>
  <b>First name:</b>
  <%= @manager.first_name %>
</p>

<p>
  <b>Salary:</b>
  <%= @manager.salary %>
</p>


<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
