// Place all the styles related to the Stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#header {
  margin: 20px;
  padding: 30px;
  background-color: lightblue;
}